@font-face {
    font-family: Gordons;
    src: url("Fonts/Gordon-webfont.woff");
}


h1, h2, h3, h4, h5, p{
    font-family: Gordons, sans-serif;
}
#events{
    height: 100%;
}

#logo{
    width: 20%;
}

#banner{
    width: 100%;
}

#contacts{
    alignment: left;
}
#introduction{
    border: solid;
}

#RGyoU{
    margin-bottom: 2%;
    padding: 1%;
}

.eventbox{
    background-color: #660066;
    color: white;
    margin-bottom: 2%;
    padding: 5%;
    text-align: center;
    height: 100%;
}

.activepage{
    text-decoration: underline;
    color: white;
}

a:link{
    color:white;
    text-decoration: none;
}
a:visited{
    color:white;
    text-decoration: none;
}
a:hover{
    color:whitesmoke;
}

a:active{
    color:whitesmoke;
}
main{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2.5%;
}
header{
    font-family: Gordons;
    margin-right: auto;
    margin-left: auto;
    height: 15%;
}

#menubutton1{
    padding-left: 0.1%;
    padding-right: 0.1%;
    text-align: center;
    font-family: Gordons;
    color: white;
    background: #660066;

}

#menubutton2{
    padding-left: 0.1%;
    padding-right: 0.1%;
    text-align: center;
    font-family: Gordons;
    color: white;
    background: #660066;

}

#menubutton3{
    padding-left: 0.1%;
    padding-right: 0.1%;
    text-align: center;
    font-family: Gordons;
    color: white;
    background: #660066;


}

#menubutton4{
    padding-left: 0.1%;
    padding-right: 0.1%;
    text-align: center;
    font-family: Gordons;
    color: white;
    background: #660066;


}

#menubutton5{
    padding-left: 0.1%;
    padding-right: 0.1%;
    text-align: center;
    font-family: Gordons;
    color: white;
    background: #660066;


}

body{
    font-family: Gordons;
    margin-right: 10%;
    margin-left: 10%;
    height: auto;
    width: auto;

}

footer{
    display: inline-block;
    width: 100%;
    margin-top: 5%;
    text-align: center;
    border-top: solid;
    height: 20%;
}

