@font-face {
    font-family: Gordons;
    src: url("Fonts/Gordon-webfont.woff");
}

h1, h2, h3, h4, h5, p{
    font-family: Gordons, sans-serif;
}
#events{
    height: 100%;
}

#Title{
    color: white;
    background-color: #660066;
    padding: 1%;
    margin-right: auto;
    margin-left: auto;
    font-size: large;
}

#logo{
    width: 20%;
}

#banner{
    width: 100%;
}

#contacts{
    alignment: left;
}
#introduction{
    padding-top: 2%;
    border: solid;
    background: white;
}


#undergrad{
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    border: solid;
    background: white;
}

#postgrad{
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    border: solid;
    background: white;
}
#Part-Time{
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    border: solid;
    background: white;
}
#shortcoures{
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;

    border: solid;
    background: white;
}
#RGyoU{
    margin-bottom: 2%;
    padding: 0;
    background-color: whitesmoke;
    border: solid;
    border-color: whitesmoke;
}

#UniLink{
    margin-bottom: 2%;
    padding: 5%;
    background-color: white;
    border: solid;
    border: #660066;
}

#RGUnion{
    margin-bottom: 2%;
    padding: 5%;
    background-color: #1D111E;

}

#facebook{
    padding: 0;
    margin: 0;
}

#modules{
    border: solid;
}

.eventbox{
    background-color: #660066;
    color: white;
    margin-bottom: 2%;
    padding: 5%;
    text-align: center;
    height: 100%;
}

.activepage{
    text-decoration: underline;
    color: white;
}

a:link{
    color:white;
    text-decoration: none;
}
a:visited{
    color:white;
    text-decoration: none;
}
a:hover{
    color:whitesmoke;
}

a:active{
    color:whitesmoke;
}


main{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2.5%;
    background-color: white;
}
header{
    font-family: Gordons;
    margin-right: auto;
    margin-left: auto;
    height: 15%;
}

#menubutton1{
    padding-left: 0.1%;
    padding-right: 0.1%;
    text-align: center;
    font-family: Gordons;
    color: white;
    background: #660066;

}

#menubutton2{
    padding-left: 0.1%;
    padding-right: 0.1%;
    text-align: center;
    font-family: Gordons;
    color: white;
    background: #660066;

}

#menubutton3{
    padding-left: 0.1%;
    padding-right: 0.1%;
    text-align: center;
    font-family: Gordons;
    color: white;
    background: #660066;


}

#menubutton4{
    padding-left: 0.1%;
    padding-right: 0.1%;
    text-align: center;
    font-family: Gordons;
    color: white;
    background: #660066;


}

#menubutton5{
    padding-left: 0.1%;
    padding-right: 0.1%;
    text-align: center;
    font-family: Gordons;
    color: white;
    background: #660066;


}

body{
    font-family: Gordons;
    margin-right: 10%;
    margin-left: 10%;
    height: auto;
    width: auto;
    background-color: #ece5ec;

}

footer{
    display: inline-block;
    width: 100%;
    margin-top: 5%;
    text-align: center;
    height: 20%;
    background-color: #1f1f1f;
    color: white;
}

