#logo{
    width: 20%;
}

#banner{
    width: 100%;
}

#introduction{
    border: solid;
}

.eventbox{
    border: solid;
}

main{
    margin-left: 20%;
    margin-right: 20%;
}
header{
    font-family: gordons;
    margin-right: auto;
    margin-left: auto;
    height: 15%;
}

#menubutton{
    text-align: center;
    font-family: gordons;
    border: solid;
}

body{
    font-family: gordons;
    margin-right: auto;
    margin-left: auto;

}

@font-face {
    font-family: gordons;
    src: url(Gordon-webfont.woff)
}