#logo{
    width: 20%;
}

header{
    margin-right: auto;
    margin-left: auto;
    height: 15%;
}

.menubar{
    align-items: stretch;
}

body{
    font-family: gordons

}

@font-face {
    font-family: gordons;
    src: url(Gordon-webfont.woff)
}