body{
    margin-left: 10%;
    margin-right: 10%;
}

#pic2{
    border:5px solid rgba(206, 177, 255, 0.57);

}

#pic3{
    border:5px solid rgba(206, 177, 255, 0.57);

}

#pic4{
    border:5px solid rgba(206, 177, 255, 0.57);

}

#cont2{
    padding-bottom: 5%;
    border-bottom: solid;
}

#cont3{
    padding-bottom: 5%;
    border-bottom: solid;
}

#cont4{
    padding-bottom: 5%;
    border-bottom: solid;
}

#inst828909 {
    background: #f7f7f7;
    padding: 5px 5px 5px;
    border: none;
    margin-bottom: 5px;
    box-shadow: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}