body{
    margin-left: 10%;
    margin-right: 10%;
}

#pic2{
    height: 20%;
    width: 20%;

border-width: 20px;
    border-color: #ffe2fb;
}


#cont2{
    border: solid;
    height: auto;
}

#cont3{

    border: solid;
}

#cont4{
    border: solid;
}
