body{
    margin-left: 10%;
    margin-right: 10%;
}

#pic2{
    border:15px solid #66CC33;
}

#cont2{
    padding-bottom: 5%;
    border-bottom: solid;
}

#cont3{
    padding-bottom: 5%;
    border-bottom: solid;
}

#cont4{
    padding-bottom: 5%;
    border-bottom: solid;
}